<manifest
        package="com.orhanobut.dialogplus"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="14"-->
        <!--android:targetSdkVersion="21" />-->
    <application android:allowBackup="true">
    </application>

</manifest>
